/********** Left Navigation **********/

/********** Posts **********/
/* Search Box */
.wd-search-bx-btn {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: white;
	border: none;
}
.wd-search-bx-field {
	color: lightgray;
	background-color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: none;
	font-weight: bold;
}
.wd-search-setting {
	text-align: center;
}
.fa-cog {
	color: #5bc0de;
}

/* Big Image Overlay Text */
.wd-posts-img-text {
	color: grey;
	font-size: 40px;
	font-weight: bold;
}
.wd-post-topic,
.wd-post-time {
	color: grey;
}
/*.wd-main-img-big-text {*/
/*	line-height: 150%;*/
/*}*/
/*.wd-main-img-big-text-live {*/
/*	color: lightgray;*/
/*	font-size: 16px;*/
/*}*/
/*.wd-main-img-big-text-title {*/
/*	font-size: 30px;*/
/*	font-weight: bold;*/
/*}*/

/*!* Contents *!*/
/*.wd-main-img-small {*/
/*	width: 60px;*/
/*	height: 60px;*/
/*}*/
/*.wd-main-trending,*/
/*.wd-main-tweets,*/
/*.wd-main-trending-with {*/
/*	color: gray;*/
/*	font-size: 15px;*/
/*}*/
/*.wd-main-topic,*/
/*.wd-main-title,*/
/*.wd-main-hash {*/
/*	font-weight: bold;*/
/*	font-size: 16px;*/
/*}*/
/*.wd-main-texts .list-group-item {*/
/*	border-bottom: none;*/
/*	border-left: none;*/
/*	border-right: none;*/
/*	border-radius: 0px;*/
/*}*/
/*.wd-main-trending-with-link {*/
/*	text-decoration: none;*/
/*	color: deepskyblue;*/
/*}*/
/*.wd-main-text-more {*/
/*	color: gray;*/
/*}*/

/********** Right Nav **********/
.wd-whotofollow {
	font-size: 20px;
	font-weight: bold;
}
.wd-right-nav-item-title {
	font-weight: bold;
}
.wd-right-nav-img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}