body {
	width: 700px;
}

/* Search Box */
.wd-search-box input[type=text] {
	margin: 8px;
	padding: 10px 10px 10px 18px;
	border-radius: 20px;
	color: white;
	background-color: darkgray;
	border-color: darkgray;
	width: 70%;
	font-size: 15px;
}
.setting-icon {
	float: right;
	margin-right: 12px;
}
.wd-search-box__setting-icon {
	font-size: 36px;
}
.setting-icon:link {
	text-decoration: none;
}
.setting-icon:visited {
	text-decoration: none;
}
.setting-icon:hover {
	text-decoration: none;
}
.setting-icon:active {
	text-decoration: none;
}
/*---------------------------------------------*/

/* Search Input Content */
.wd-search-input{
	padding: 16px;
	margin-bottom: 20px;
}
.wd-search-input-content {
	color: rgb(110, 118, 125);
	font-size: 15px;
}
.wd-search-input-content__first {
	color: rgb(29, 161, 242);
	text-decoration: underline rgb(29, 161, 242) 3px;
	text-underline-offset: 16px;
}

/*---------------------------------------------*/
	/* Suggest Posts */
.wd-suggest {
}
.wd-suggest-post {
	padding: 10px;
	color: white;
}
.wd-suggest-post__topic,
.wd-suggest-post__tuits,
.wd-suggest-post__date {
	font-size: 13px;
	color: rgb(110, 118, 125);
}

.wd-suggest-post-Dtype {
	width: 60%;
}
.wd-suggest-post__topic,
.wd-suggest-post__author {
	margin-right: 20px;
}
.wd-suggest-post__img {
	border-radius: 10px;
	width: 100px;
	height: 100px;
	margin-right: 16px;
}



